html, body {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
}
